body {
   background-color: aqua;

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 255px 15px 225px 15px/ 15px 255px  15px 225px;
  border-style: solid;
  border-width: 5px;
  background-image: url(Totally\ normal\ spongebob.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
  background-image: url(Bubbletown_002.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 6%;
  
}

.pic{
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 15px 225px 15px 225px/245px 15px 225px 15px ;
  border-style: solid;
  border-width: 5px;
}

h2{
  color: black;
  font-size: 40px;
  background-color: #006994;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  font-family: 'Courier New', Courier, monospace;
}

#start{
  text-align: left;
}

#end{
   text-align: right;
}